.App {
  text-align: center;
}

.App-logo {
  height: 5rem;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  list-style-type: none;
}

.TodoCard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#TodoCard{
  
}